@import "@/assets/scss/base/vars";

.chat__message {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &--admin {
    align-self: flex-start;
    padding-left: 20px;
  }

  &--user {
    align-self: flex-end;
    padding-right: 26px;
  }

  &-wrapper {
    display: flex;
    gap: 12px;
    align-items: flex-start;
  }

  &-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;

    @include mobile() {
      width: 36px;
      height: 36px;
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &-text {
    background-color: #fff;
    border-radius: 12px;
    padding: 16px 22px;
    font-size: 16px;
    font-weight: 500;
    max-width: 541px;

    @include mobile() {
      max-width: 300px;
    }
  }
  &-time {
    text-align: end;
  }
  &-sender {
    font-size: 18px;
    font-weight: 600;
  }
  &-meta {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
