@import "vars";

body {
  background-color: $background;
  font-family: "Inter";
  font-weight: 400;

  @include mobile() {
    background-color: $background-mobile;
  }
}

a {
  color: #fff;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.disableScroll {
  position: fixed;
}
