@import "@/assets/scss/base/vars";
.info-row {
  display: flex;
  align-items: center;
  gap: 18px;
  cursor: pointer;

  &__icon {
    background-color: $pink-main;
    padding: 7px;
    border-radius: 50%;
    height: 40px;
    width: 40px;

    transition: background-color 0.2s ease-in;
    &:hover {
      background-color: #ce00a2;
    }

    @include mobile() {
      display: none;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 18px;

    &--user {
      font-size: 14px;
      font-weight: 600;
    }

    &--rate {
      font-size: 12px;
      font-weight: 500;
      color: #797979;
    }
  }
}
