@import "@/assets/scss/base/vars";

.container--footer {
  display: flex;
  justify-content: space-between;

  @include sm-lg() {
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding: 0 20px;
  }

  @include mobile() {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.footer {
  background-color: $footer;
  padding: 32px 0;

  @include mobile() {
    padding: 40px 0;
    background-color: $background-mobile;
  }

  &__left {
    display: flex;
    gap: 106px;
    align-items: center;

    @include mobile() {
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 65px;

    @include sm-lg() {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }

    @include mobile() {
      flex-direction: column-reverse;
      gap: 20px;
      align-items: flex-start;
    }
    &-link {
      color: $font-secondary;
      font-size: 15px;
      font-weight: 500;
    }
  }

  &__lang-selector {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  &__messengers {
    display: flex;
    gap: 12px;
  }
}

.nav-link_mail {
  display: flex;
  gap: 12px;
}
